.disabled {
  display: none !important;
}

.width-3ch {
  width: 3ch;
}

.width-4ch {
  width: 4ch;
}

.width-5ch {
  width: 5ch;
}

.width-6ch {
  width: 6ch;
}

.width-9ch {
  width: 9ch;
}

.width-12ch {
  width: 12ch;
}

.width-15ch {
  width: 15ch;
}

.width-18ch {
  width: 18ch;
}

.select-input-wrapper {
  position: relative;
  display: inline-block;
}

.select-arrow {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 9px;
  pointer-events: none;
  z-index: 1;
}

.select-arrow svg {
  width: 100%;
  height: 100%;
}

.select-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 3rem;
}

.number-input {
  appearance: textfield;
  -moz-appearance: textfield;
}

.number-input::-webkit-inner-spin-button,
.number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
