@media (min-width: 720px) {
  .mobile-nav {
    display: none;
  }

  .desktop-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .form-name {
    font-size: 4rem;
  }

  .nav-btn-desktop {
    padding: 0.5rem 1.25rem;
    border-radius: 100vw;
  }
}
