@media (min-width: 720px) {
  .mobile-nav {
    display: none;
  }

  .desktop-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav {
    background-color: var(--secondary-color);
    display: grid;
    padding-inline: 2.28rem;
  }

  a .logo-img {
    height: 7.14rem;
    width: 7.14rem;
  }

  .form-name {
    font-size: 4.57rem;
  }

  .nav-btn-desktop {
    padding: 0.5rem 1.25rem;
    border-radius: 100vw;
  }

  .nav-btn-container {
    gap: 1.7rem;
  }

  main {
    display: grid;
    grid-template-columns: 4rem auto;
    padding: 1rem;
    gap: 2rem;
  }

  form {
    flex-grow: 1;
    max-width: 52rem;
  }

  .form-group {
    padding-right: 0.35rem;
  }

  .desktop-pages-indicator {
    width: 2.14rem;
  }

  .attribute {
    padding-block: 1rem 1.5rem;
    align-items: center;
    gap: 0.5rem;
  }

  .attribute-name {
    font-size: 2.57rem;
  }

  .attribute-description {
    font-size: 1.14rem;
  }

  .attribute-value {
    font-size: 1.4rem;
    padding: 0.5rem 0.85rem;
    height: 3ch;
    border-radius: 0.2rem;
  }

  .form-measurments .attribute-value-container {
    gap: 0.78rem;
  }

  .measurment-unit {
    font-size: 1.14rem;
  }

  .attribute-value.text-input::placeholder {
    font-size: 1.4rem;
  }

  .attribute-value.select-input {
    padding-right: 3rem;
    border-radius: 100vw;
    padding-right: 3rem;
  }

  .upload-photo-attribute .attribute-description {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .upload-photo-attribute .attribute-description::after {
    content: " →";
  }

  .upload-photo-attribute .polaroid-photo {
    grid-row: 1/4;
    grid-column: 2/3;
    justify-self: end;
  }

  .select-arrow {
    width: 1.14rem;
    height: 0.64rem;
  }

  .upload-container {
    margin-top: 1.5rem;
  }

  .contact-attribute-value-container {
    align-items: center;
  }

  .contact-attribute-value-container .select-input {
    border-radius: 0.2rem;
  }

  .custom-upload-button {
    font-size: 1.2rem;
    gap: 1.4rem;
    padding: 0.5rem 1.25rem;
  }

  .custom-upload-button svg {
    height: 1rem;
    width: 1rem;
  }

  .values-container {
    margin-bottom: 1.7rem;
  }

  .values-title {
    font-size: 2.85rem;
    margin-bottom: 0.7rem;
  }

  .values-description {
    font-size: 1.15rem;
    margin-bottom: 1.3rem;
  }

  /* Page indicators */
  #desktop-pages-indicator {
    justify-self: start;
    align-self: center;
    transform: translateY(-75%);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  #desktop-pages-indicator button{
    width: 3rem;
    height: 0.5rem;
    border-radius: 100vw;
    background-color: var(--accent-color);
    border: none;
    opacity: 0.5;
  }

  #desktop-pages-indicator button.selected{
    opacity:1
  }
}
