@media (max-width: 720px) {
  .desktop-nav {
    display: none;
  }

  #desktop-pages-indicator {
    display: none !important;
  }

  .mobile-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: max(0.5rem, 1dvh);
    gap: 1.375rem;
    height: 100%;
  }

  nav {
    background-color: var(--secondary-color);
    padding: min(2.75rem, 4dvw);
  }

  a .logo-img {
    height: 6rem;
    width: 6rem;
  }

  .mobile-nav .top-content,
  .mobile-nav .bottom-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .form-name {
    font-size: 3.2rem;
  }

  .nav-btn-mobile {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
  }

  .nav-btn-mobile svg {
    height: 1.5rem;
    width: 0.75rem;
  }

  .nav-btn-container {
    gap: 1.5rem;
  }

  main {
    display: flex;
    padding-inline: min(7.4rem, 2dvw);
    padding-block: 1rem;
  }

  form {
    flex-grow: 1;
    max-width: 95vw;
  }

  .form-group {
    max-height: calc(100dvh - (min(5.5rem, 8dvh) + 10rem));
    padding-right: 0.5rem;
  }

  .attribute {
    padding-block: 2.2rem 1.2rem;
    align-items: center;
    gap: 1.6rem;
  }

  .attribute-name {
    font-size: 4rem;
  }

  .attribute-description {
    font-size: 1.4rem;
    grid-column: 1/3;
  }

  .attribute-value {
    font-size: 1.6rem;
    padding: 1rem;
    border-radius: 0.4rem;
  }

  .form-measurments .attribute-value-container {
    gap: 1.2rem;
  }

  .measurment-unit {
    font-size: 1.4rem;
  }

  .attribute-value.text-input::placeholder {
    font-size: 1.6rem;
  }

  .attribute-value.select-input {
    padding-right: 4rem;
    border-radius: 100vw;
  }

  .upload-photo-attribute {
    gap: 1rem;
  }

  .upload-photo-attribute .attribute-description {
    grid-column: 1/3;
    grid-row: 3/4;
  }

  .upload-photo-attribute .attribute-description::after {
    content: " ↑";
  }

  .upload-photo-attribute .polaroid-photo {
    grid-row: 1/3;
    grid-column: 2/3;
    justify-self: end;
  }

  .select-arrow {
    width: 1.6rem;
    height: 0.9rem;
  }

  .contact-attribute-value-container {
    flex-direction: column;
    align-items: flex-end;
  }

  .contact-attribute-value-container .select-input {
    border-radius: 0.4rem;
  }

  .custom-upload-button {
    font-size: 1.7rem;
    gap: 2rem;
    padding: 0.5rem 1.4rem;
  }

  .custom-upload-button svg {
    height: 1.4rem;
    width: 1.4rem;
  }

  .values-container {
    margin-bottom: 2.4rem;
  }

  .values-title {
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  .values-description {
    font-size: 1.6rem;
    margin-bottom: 1.8rem;
  }
}

/* Page indicators */
#mobile-pages-indicator {
  justify-self: start;
  align-self: center;
  display: flex;
  gap: 1.5rem;
}

#mobile-pages-indicator button {
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 50%;
  background-color: var(--tertiary-color);
  border: none;
}

#mobile-pages-indicator button.selected {
  background-color: var(--accent-color);
}
