@import url("../util/css/fonts-variables.css");
@import url("../util/css/preset.css");
@import url("../util/css/global-size.css");
@import url("../util/css/global-class.css");

@import url("./mobile.css");
@import url("./desktop.css");

body {
  background-color: var(--primary-color);
  height: 100dvh;
}

nav {
  background-color: var(--secondary-color);
  height: 20%;
}

.form-name {
  font-family: osw;
  color: var(--tertiary-color);
  text-transform: uppercase;
}

.nav-btn-container {
  display: flex;
  align-items: center;
}

.nav-btn-container button {
  background-color: var(--tertiary-color);

  font-family: pt;
  font-weight: bold;
  color: var(--accent-color);
  text-transform: uppercase;

  display: grid;
  place-content: center;
  border: none;
}

main {
  justify-content: center;
  height: 80%;
  position: relative;
}

form {
  flex-grow: 1;
  max-width: 54rem;
  height: 100%;
}

.form-group {
  overflow-y: auto;
  height: 100%;
}

.attribute {
  border-bottom: 1px solid var(--accent-color);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.attribute-value-container {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: end;
}

.attribute-name {
  color: var(--accent-color);
  font-family: osw;
  text-transform: uppercase;
}

.attribute-description {
  font-family: osw;
  color: var(--accent-color);
}

.attribute-value {
  background-color: var(--tertiary-color);
  color: var(--accent-color);

  border: none;
  box-sizing: content-box;
}

.attribute-value::placeholder {
  font-family: osw;
  font-style: italic;

  text-transform: capitalize;
  color: var(--accent-color);
  opacity: 0.8;
}

.form-measurments .attribute-value-container {
  display: flex;
  align-items: flex-end;
}

.measurment-unit {
  color: var(--accent-color);
  font-family: osw;
  width: 2ch;
}

.upload-photo-attribute .polaroid-photo {
  border-radius: .5rem;
  justify-self: end;
}

.attribute-value.file-input {
  width: fit-content;
}

.select-input-wrapper {
  position: relative;
  display: inline-block;
}

.select-arrow {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 1;
}

.select-arrow svg {
  width: 100%;
  height: 100%;
}

.select-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.attribute-value.select-input {
  padding-left: 1rem;
  box-sizing: content-box;

  font-family: osw;
  text-transform: uppercase;
}

.contact-attribute-value-container {
  display: flex;
  gap: 1rem;
}

.custom-upload-button {
  background-color: var(--tertiary-color);

  font-family: pt;
  font-weight: bold;
  color: var(--accent-color);
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-self: center;

  border-radius: 100vw;
  justify-self: start;
}

.custom-upload-button:hover{
  cursor: pointer;
}

.values-container {
  border-bottom: 1px solid var(--accent-color);
  background-color: var(--tertiary-color);
}

.values-title {
  color: var(--accent-color);
  font-family: osw;
  text-transform: uppercase;
}

.values-description {
  color: var(--accent-color);
  font-family: osw;
  text-align: justify;
}

