@import url("../util/css/fonts-variables.css");
@import url("../util/css/preset.css");
@import url("../util/css/global-size.css");

@import url("./mobile.css");
@import url("./desktop.css");

body {
  background-color: var(--primary-color);
}

main {
  padding-inline: min(3.85dvw, 6.625rem);
}

.apps-container {
  padding-top: 4.67rem;
  display: flex;
}

nav {
  background-color: var(--secondary-color);

  padding: 3.25rem 2rem;

  display: flex;
  align-items: center;
  gap: 2.75rem;
}

nav .logo {
  height: 6.25rem;
  width: 6.25rem;
}

nav .brand-name {
  color: var(--tertiary-color);

  font-family: osw;
  font-size: 5rem;
  text-transform: uppercase;
}

.card {
  width: 29.5rem;
  min-height: 16.75rem;

  margin-right: 3rem;
  padding: 1.375rem;

  background-color: var(--accent-color);
  color: var(--tertiary-color);

  border-radius: 1.125rem;
  display: flex;
  position: relative;
}

.card .card-content {
  display: flex;
  flex-direction: column;
  gap: 3.625rem;
}

.card .card-title {
  font-family: pt;
  font-size: 1.375rem;
  text-transform: uppercase;

  display: inline-block;
  margin-bottom: 1.5rem;
}

.card .card-description {
  font-family: nuni;
  font-size: 1rem;

  text-align: justify;
  max-width: 26ch;
}

.card .card-cto {
  background-color: var(--tertiary-color);
  color: var(--accent-color);

  font-family: pt;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  gap: 0.825rem;

  padding: 0.5rem 1.75rem;
  width: fit-content;

  border: none;
  border-radius: 100vw;
}

.card svg.button-icon {
  height: 0.75rem;
  width: 0.75rem;
}

.card img {
  width: 13.45rem;

  position: absolute;
  bottom: 0;
  right: -3rem;
}
